<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>DeliveryMatch</h5>
        <p>La solution de livraison collaborative</p>
      </div>
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">À propos</a></li>
          <li><a href="#" class="text-light">Conditions d'utilisation</a></li>
          <li><a href="#" class="text-light">Politique de confidentialité</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-envelope me-2"></i>contact@deliverymatch.com</li>
          <li><i class="fas fa-phone me-2"></i>+33 1 23 45 67 89</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
