<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/images/logo.svg" alt="DeliveryMatch Logo">
      DeliveryMatch
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="trajets.html">Trajets</a></li>
        <li class="nav-item"><a class="nav-link" href="expeditions.html">Expéditions</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>
      <div class="d-flex">
        <a href="login.html" class="btn btn-outline-light me-2">Connexion</a>
        <a href="register.html" class="btn btn-light">Inscription</a>
      </div>
    </div>
  </div>
</nav>
